In [6]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

In [7]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

AttributeError: measurement

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
# D1: Determine the Summary Statistics for June

In [26]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temperature = []
june_temperature = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [27]:
#  3. Convert the June temperatures to a list.
#june_temp_list = list(june_results)
june_temperature_list = [temp.tobs for temp in june_temperature]

In [1]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temperature, columns = ['date', 'June temperature'])
June_df.head()

NameError: name 'pd' is not defined

In [30]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       June temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

In [ ]:
# D2: Determine the Summary Statistics for December

In [31]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temperatures = []
dec_temperatures = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [33]:
# 7. Convert the December temperatures to a list.
#Dec_temp_list = list(Dec_results)
dec_temperatures_list = list(np.ravel(dec_temperatures))

In [34]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results, columns = ['date', 'December temperature'])
dec_df.set_index(dec_df['date'], inplace=True)

#Sort the index
dec_df = dec_df.sort_index()
dec_df

                  date  December temperature
date
2010-12-01  2010-12-01                  76.0
2010-12-01  2010-12-01                  73.0
2010-12-01  2010-12-01                  72.0
2010-12-01  2010-12-01                  78.0
2010-12-01  2010-12-01                  72.0
...                ...                   ...
2016-12-31  2016-12-31                  67.0
2016-12-31  2016-12-31                  72.0
2016-12-31  2016-12-31                  66.0
2016-12-31  2016-12-31                  71.0
2016-12-31  2016-12-31                  65.0

[1517 rows x 2 columns]

In [35]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December temperature
count           1517.000000
mean              71.041529
std                3.745920
min               56.000000
25%               69.000000
50%               71.000000
75%               74.000000
max               83.000000