In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [5]:
# D1: Determine the Summary Statistics for June

In [6]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temperature = []
june_temperature = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [7]:
#  3. Convert the June temperatures to a list.
#june_temp_list = list(june_results)
june_temperature_list = [temp.tobs for temp in june_temperature]

In [8]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temperature, columns = ['date', 'June temperature'])
june_df.set_index(june_df['date'], inplace=True)

#Sort the index
june_df = june_df.sort_index()
june_df

                  date  June temperature
date
2010-06-01  2010-06-01              78.0
2010-06-01  2010-06-01              73.0
2010-06-01  2010-06-01              77.0
2010-06-01  2010-06-01              69.0
2010-06-01  2010-06-01              76.0
...                ...               ...
2017-06-30  2017-06-30              76.0
2017-06-30  2017-06-30              75.0
2017-06-30  2017-06-30              75.0
2017-06-30  2017-06-30              74.0
2017-06-30  2017-06-30              75.0

[1700 rows x 2 columns]

In [9]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       June temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

In [10]:
# D2: Determine the Summary Statistics for December

In [11]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temperatures = []
dec_temperatures = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [12]:
# 7. Convert the December temperatures to a list.
#Dec_temp_list = list(Dec_results)
dec_temperatures_list = list(np.ravel(dec_temperatures))

In [13]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temperatures, columns = ['date', 'December temperature'])
dec_df.set_index(dec_df['date'], inplace=True)

#Sort the index
dec_df = dec_df.sort_index()
dec_df

                  date  December temperature
date
2010-12-01  2010-12-01                  76.0
2010-12-01  2010-12-01                  73.0
2010-12-01  2010-12-01                  72.0
2010-12-01  2010-12-01                  78.0
2010-12-01  2010-12-01                  72.0
...                ...                   ...
2016-12-31  2016-12-31                  67.0
2016-12-31  2016-12-31                  72.0
2016-12-31  2016-12-31                  66.0
2016-12-31  2016-12-31                  71.0
2016-12-31  2016-12-31                  65.0

[1517 rows x 2 columns]

In [14]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December temperature
count           1517.000000
mean              71.041529
std                3.745920
min               56.000000
25%               69.000000
50%               71.000000
75%               74.000000
max               83.000000

In [ ]:
# Two additional queries for June and December

In [15]:
# Additional query: Precipitation
results_prcp_june =[]
results_prcp_june = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

df_june_prcp = pd.DataFrame(results_prcp_june, columns = ['date', 'June prcp'])
df_june_prcp.set_index(df_june_prcp['date'], inplace=True)

In [16]:
df_june_prcp.describe()

         June prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [17]:
results_prcp_dec =[]
results_prcp_dec = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

df_dec_prcp = pd.DataFrame(results_prcp_dec, columns = ['date', 'December prcp'])
df_dec_prcp.set_index(df_dec_prcp['date'], inplace=True)

In [18]:
df_dec_prcp.describe()

       December prcp
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000